.recipe_detail{
    width: 80vw;
    height:88vh;
    background-image: url('../images/book.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 20px;
    /* background-position-x: center; */
    /* margin-left: 22vw;
    margin-top: 5vh; */
    margin: auto;
    display: flex;
    /* align-items: center; */
    /* flex-direction: column; */
}

.recipe_basics{
    width: 300px;
    height: 400px;
    margin-left:17.5vw;
    
    /* position: absolute; */
    /* top: 120px; */
    margin-top: 2vh;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 5px #9b5a06;
    background-color: transparent;
}

.heading_button{
    display: flex;
    background-color: transparent;
    align-items: center;
}

.heading_button > h4{
    background-color: transparent;
    margin-top: 2vh;
    width: 200px;
    color: #5e3705;
    font-weight: 800;
}
.recipe_basics > img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
     /* opacity: 60%; */
}

.cooking_time{
    background-color: transparent;
    font-weight: 800;
    display: flex;
    justify-content: center;
    margin-top: 1vh;
}

.rating{
    display: flex;
    background-color: transparent;
    justify-content: center;
}

.rating > p{
    background-color: transparent;
}
.recipe_main{
    background-color: transparent;
    width: 400px;
    /* height: 400px; */
    margin-left: 2vw;
    margin-top: 20px;
    max-height: 575px;
    overflow-y: auto;
    padding: 10px;
}

.recipe_main > p{
    background-color: transparent;
}

.recipe_main > h6{
    background-color: transparent;
    font-size: large;
    font-weight: 800;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 5px #9b5a06;
    text-align: center;
}

@media(max-width:1400px){
    
    .recipe_basics{
        width: 300px;
        height: 350px;
        margin-left:20%;
        
        /* position: absolute; */
        /* top: 120px; */
        margin-top: 3%;
        border-radius: 20px;
        box-shadow: 5px 5px 10px 5px #9b5a06;
        background-color: transparent;
    }
    .recipe_main{
        background-color: transparent;
        width: 400px;
        /* height: 400px; */
        /* margin-left: 2vw; */
        margin-top: 3%;
        max-height: 505px;
        overflow-y: auto;
        padding: 10px;
    }
}

@media(max-width:1350px){
    
    .recipe_basics{
        width: 300px;
        height: 350px;
        margin-left:20%;
        
        /* position: absolute; */
        /* top: 120px; */
        margin-top: 6%;
        border-radius: 20px;
        box-shadow: 5px 5px 10px 5px #9b5a06;
        background-color: transparent;
    }
    .recipe_main{
        background-color: transparent;
        width: 25vw;
        /* height: 400px; */
        /* margin-left: 2vw; */
        margin-top: 6%;
        max-height: 505px;
        overflow-y: auto;
        padding: 10px;
    }
}

@media(max-width:1300px){
    
    .recipe_basics{
        width: 300px;
        height: 350px;
        margin-left:17%;
        
        /* position: absolute; */
        /* top: 120px; */
        margin-top: 3%;
        border-radius: 20px;
        box-shadow: 5px 5px 10px 5px #9b5a06;
        background-color: transparent;
    }
    .recipe_main{
        background-color: transparent;
        width: 400px;
        /* height: 400px; */
        /* margin-left: 2vw; */
        margin-top: 3%;
        max-height: 505px;
        overflow-y: auto;
        padding: 10px;
    }
}

@media(max-width:1250px){
    
    .recipe_basics{
        width: 300px;
        height: 350px;
        margin-left:15%;
        
        /* position: absolute; */
        /* top: 120px; */
        margin-top: 3%;
        border-radius: 20px;
        box-shadow: 5px 5px 10px 5px #9b5a06;
        background-color: transparent;
    }
    .recipe_main{
        background-color: transparent;
        width: 400px;
        /* height: 400px; */
        /* margin-left: 2vw; */
        margin-top: 3%;
        max-height: 505px;
        overflow-y: auto;
        padding: 10px;
    }
}

@media(max-width:1200px){
    
    .recipe_basics{
        width: 300px;
        height: 350px;
        margin-left:14%;
        
        /* position: absolute; */
        /* top: 120px; */
        margin-top: 3%;
        border-radius: 20px;
        box-shadow: 5px 5px 10px 5px #9b5a06;
        background-color: transparent;
    }
    .recipe_main{
        background-color: transparent;
        width: 400px;
        /* height: 400px; */
        /* margin-left: 2vw; */
        margin-top: 3%;
        max-height: 505px;
        overflow-y: auto;
        padding: 10px;
    }
}

@media(max-width:1150px){
    
    .recipe_basics{
        width: 300px;
        height: 350px;
        margin-left:12%;
        
        /* position: absolute; */
        /* top: 120px; */
        margin-top: 3%;
        border-radius: 20px;
        box-shadow: 5px 5px 10px 5px #9b5a06;
        background-color: transparent;
    }
    .recipe_main{
        background-color: transparent;
        width: 400px;
        /* height: 400px; */
        /* margin-left: 2vw; */
        margin-top: 3%;
        max-height: 505px;
        overflow-y: auto;
        padding: 10px;
    }
}

@media(max-width:1150px){
    
    .recipe_basics{
        width: 300px;
        height: 350px;
        margin-left:12%;
        
        /* position: absolute; */
        /* top: 120px; */
        margin-top: 3%;
        border-radius: 20px;
        box-shadow: 5px 5px 10px 5px #9b5a06;
        background-color: transparent;
    }
    .recipe_main{
        background-color: transparent;
        width: 400px;
        /* height: 400px; */
        /* margin-left: 2vw; */
        margin-top: 3%;
        max-height: 505px;
        overflow-y: auto;
        padding: 10px;
    }
}

@media(max-width:1100px){

    .recipe_detail{
        width: 100%;
        height:100%;
        background-image: none;
        border-radius: 20px;
        /* background-position-x: center; */
        /* margin-left: 22vw;
        margin-top: 5vh; */
        margin: auto;
        display: flex;
        /* align-items: center; */
        /* flex-direction: column; */
    }
    
    .recipe_basics{
        width: 30%;
        height: 350px;
        margin-left:12%;
        
        /* position: absolute; */
        /* top: 120px; */
        margin-top: 3%;
        border-radius: 20px;
        box-shadow: 5px 5px 10px 5px #9b5a06;
        background-color: transparent;
    }
    .recipe_main{
        background-color: transparent;
        width: 50%;
        /* height: 400px; */
        /* margin-left: 2vw; */
        margin-top: 3%;
        max-height: 505px;
        overflow-y: auto;
        padding: 10px;
    }
}

@media(max-width:990px){

    .recipe_detail{
        width: 100vw;
        height:100%;
        background-image: none;
        border-radius: 20px;
        /* background-position-x: center; */
        /* margin-left: 22vw;
        margin-top: 5vh; */
        /* margin: auto; */
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        /* flex-direction: column; */
    }
    
    .recipe_basics{
        width: 300px;
        height: 350px;
        margin-left:0%;
        
        /* position: absolute; */
        /* top: 120px; */
        
        margin-top: 3%;
        border-radius: 20px;
        box-shadow: 5px 5px 10px 5px #9b5a06;
        background-color: transparent;
    }
    .recipe_main{
        background-color: transparent;
        width: 450px;
        /* height: 400px; */
        /* margin-left: 2vw; */
        margin-top: 200px;
        max-height: 505px;
        overflow-y: auto;
        padding: 10px;
    }
}