*{
  margin:0;
  padding:0;
  /* background-image: url('./images/colorful_bg.jpg'); */
  background-color: #fff8de;
  background-position: center;
  color: #9b5a06;  

}

/* .main_Content {
   /* Replace with your preferred font */
  /* backdrop-filter: blur(10px); Add the blur effect to the body */
  /* background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); */
/* }  */

/* overflow-x: hidden; */
/* overflow-y: scroll; */